
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');
/*  позволяет импортировать содержимое в текущую стилевую таблицу */

body {
    font-family: 'Open Sans', sans-serif;  /* это для body будет встроен шрифт */
    top: 75px; /* отступ сверху 75рх*/
    margin: 0; /* убрать отступы */
    padding: 0; /* убрать поля вокруг текста */
}

th,
td { /* это CSS для всех th и td */
   
    text-align: center; /* выравнивание текста по центру */
    padding: 30px; /* отступ слева на 30рх */
    
}

.header_navigation {
    padding-left: 84px; /* сделать отступ слева на 84рх */
    
    color: #e5e5e5;
    font-size: 36px; /* размер шрифта */
    font-weight: 700; /* устанавливает начертание шрифта */
    
}

.header_navigation a { /* для класса header_navigation и для всех a следующие свойства */
    color: #408253; 
    text-decoration: none; /* убирает внешний вид декоративных линий */
    border-right: 4px solid #E5E5E5; 
    margin-right: 15px; /* внешний отступ справа от элемента */
    padding-right: 15px;  /* поля от правого края */
}

.header_navigation span { /* для класса header_navigation а именно для span сделать ниженаписанные свойства*/
    color: #408253;
}

.header_navigation span a:last-child{ /* для класса header_navigation а именно для span убрать послежний элемент */
 border-right: none;    /* убрать палочку сверху текста */
}

h1 { /* для всех h1 сделать свойства */
    margin-top: 75px; /* внешний отступ в верхней части элемента */
    text-align: center; /* выровнять текст по центу */
    font-size: 64px; /* размер шрифта становится 64рх */
}

.img1_container { 
    padding-left: 84px; /* поля от левого края */
    display: block;     /* Элемент показывается как блочный */
    margin: 0 auto;  /* отцкнтрировать блочный элемент по горризонтали */
}

.h2_header {
    text-align: center;   /* выровнять текст по центру */
    font-size: 48px;   /* размер шрифта 48рх*/
}

.text {
    text-align: center;   /* выровнять текст по центру */
    font-weight: 300;   /* начертание шрифта */
    font-size: 24px;   /* размер шрифта */
    line-height: 33px;   /* устанавливает величину пространства между строками */
    padding-bottom: 64px;   /* поле снизу от текста */
}

.image_center {
    padding-left: 84px;   /* поле слева от текста */
    margin-bottom: 75px;   /* внешний отступ в нижней части элемента  */
}

.section_table {
    margin-top: 140px;   /* внешний отступ в верхней части элемента */
}

.icon_header 
{
   
    display: inline;   /* элемент отображается как встроенный */
    font-weight: 700;   /*начертание шрифта */
    font-size: 36px;   /* размер шрифта */
    line-height: 49px;   /* устанавливает величину пространства между строками */
    margin-top: 76px;   /*  внешний отступ в верхней части элемента */
    padding-right: 15px;   /* поле справа от текста */
    padding-bottom: 15px;    /* поле снизу от текста */
}

table {
    
    border: 1px solid #408253;   /* обводка 1рх обыной линией какого-то цвета */
    width: 100%;   /* устанавливает ширину элемента */
    border-collapse: collapse;   /* ячейки внутри таблицы будут иметь общие границы */
    background-color: #D9F0E0;   /* цвет заднего фона */

}

td {
    
    border: 1px solid #408253;   /* сделать обводку толщиной 1рх обчной прямой линией какого-то цвета */
    font-weight: 400;   /* начертание шрифта */
    font-size: 30px;   /* размер шрифта */
    line-height: 41px;   /* устанавливает величину пространства между строками */
}

th {
    border: 1px solid #408253; /* сделать обводку толщиной 1рх обчной прямой линией какого-то цвета */
    font-weight: 700;     /* начертание шрифта */
    font-size: 30px;     /* размер шрифта */
    line-height: 41px;     /* устанавливает виличину пространства между строками */

}


.tdsale td {

    border: 1px solid #ffffff; /* сделать обводку толщиной 1рх обчной прямой линией какого-то цвета */
    font-weight: 400;     /* начертание шрифта */
    font-size: 30px;    /*  размер шрифта */
    line-height: 41px;   /* устанавливает виличину пространства между строками */
    color: #ffffff;    /*  такой будет цвет */
    font-style: italic;    /*  стиль для шрифта */
    background: #408253;    /* цвет заднего фона */
    
}

.tdcups td {
   
    border: 1px solid #D9F0E0;  /* сделать обводку толщиной 1рх обчной прямой линией какого-то цвета */
    color: #ffffff;       
    font-weight: 400;     /* начертание шрифта */
    font-size: 30px;     /* размер шрифта */
    line-height: 41px;    /* устанавливает величину пространства между строками */
    font-style: italic;     /* стиль для шрифта */
    background: #408253;     /* цвет для заднего фона */
    
}

.text_after_table {
    
    font-weight: 300;     /* начертание шрифта */
    font-size: 24px;     /* размер шрифта */
    line-height: 33px;     /* устаранвливает величину пространства между строками */
}

.footer {
    
    font-weight: 400;     /* начертание шрифта */
    font-size: 24px;     /* размер шрифта */
    line-height: 33px;     /* устанавливаем величину пространства между строками */
    color: #000000;     /* такого цвета будет */
    margin-top: 75px;     /* внешний отступ в верхней части элемента */
    margin-left: 1102px;     /* внешний отступ в левой части элемента */
    padding-bottom: 38px;     /* поле снизу от текста */
} 


@media (max-width:800px)     /* для устройств с расширением максимум 800рх */
{
body
{
    padding-inline-start: 0; /*Свойство padding-inline-start CSS определяет логическое начальное заполнение элемента, 
                             которое сопоставляется с физическим заполнением в зависимости от режима записи элемента, 
                             направленности и ориентации текста */
}

.img1-container {
        width: 100%; /* устанавливает ширину элемента на 100% */
        height: 100%; /* устанавливает ширину элемента на 100%*/
    }
h1 {
    width: 100%; /* устанавливает ширину элемента на 100% */
    text-align: center; /* выравнивание текста по центру */
    font-weight: 700; /* начертание шрифта */
    font-size: 64px; /* размер шрифта */
    margin-bottom: 33px; /* внешний отступ в верхней части элемента */
}
    .footer , .text_after_table , .tdcups, .tdsale, .icon_header, .section_table, .header_navigation, .text, .h2_header, .image_center 
{
display:none; /* вышеперечисленные классы не будут отображаться на устройствах с разрешением максимум 800рх */
}
    
}